.MyButton{
    color: navy;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #1c3f75;
    border-radius: 11px;
    transition: all 0.5s ease;
}
.MyButton:hover{
    background-color: #d3e8f9;
    color: rgb(252, 70, 70);
}