.myByttonS{
    color: navy;
    cursor: pointer;
    padding: 6px 11px;
    font-size: 13px;
    font-weight: 300;
    background-color: #d3e8f9;
    border: 0.5px solid transparent;
    transition: all 0.5s ease;
    margin: 5px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
}
.myByttonS:hover{
    background-color: red;
    color: white;
}
.myButton__current{
    border: 0.5px solid #1c3f75;
    font-weight: 700;
    background-color: transparent;
}

@media(min-width: 640px){
    .myByttonS{
        width: 40px;
    }
} 